@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-border: oklch(0.91 0.01 286);
  --color-input: oklch(0.91 0.01 286);
  --color-ring: oklch(0.65 0.19 259);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.11 0.05 286);
  --color-primary: oklch(0.65 0.19 259);
  --color-primary-foreground: oklch(0.99 0 0);
  --color-secondary: oklch(0.97 0.005 286);
  --color-secondary-foreground: oklch(0.18 0.02 286);
  --color-destructive: oklch(0.66 0.22 25);
  --color-destructive-foreground: oklch(0.99 0 0);
  --color-muted: oklch(0.97 0.005 286);
  --color-muted-foreground: oklch(0.58 0.01 286);
  --color-accent: oklch(0.97 0.005 286);
  --color-accent-foreground: oklch(0.18 0.02 286);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.11 0.05 286);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.11 0.05 286);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-border: oklch(0.24 0.01 286);
    --color-input: oklch(0.24 0.01 286);
    --color-ring: oklch(0.63 0.23 265);
    --color-background: oklch(0.11 0.05 286);
    --color-foreground: oklch(0.99 0 0);
    --color-primary: oklch(0.69 0.2 253);
    --color-primary-foreground: oklch(0.18 0.02 286);
    --color-secondary: oklch(0.24 0.02 286);
    --color-secondary-foreground: oklch(0.99 0 0);
    --color-destructive: oklch(0.42 0.16 25);
    --color-destructive-foreground: oklch(0.99 0 0);
    --color-muted: oklch(0.24 0.02 286);
    --color-muted-foreground: oklch(0.70 0.01 286);
    --color-accent: oklch(0.24 0.02 286);
    --color-accent-foreground: oklch(0.99 0 0);
    --color-popover: oklch(0.11 0.05 286);
    --color-popover-foreground: oklch(0.99 0 0);
    --color-card: oklch(0.11 0.05 286);
    --color-card-foreground: oklch(0.99 0 0);
  }
}